<p-toolbar class="w-full" style="filter: drop-shadow(0 2px 2px #808080);">
  <div class="col-offset-2 md:col-8 flex flex-nowrap justify-content-between">
    <div class="p-toolbar-group-left">
      <img src="/assets/logo.svg" alt="" style="width: 60px">
      <h2 style="color: var(--primary-color)">Die einzig wahre Apotheke</h2>
    </div>
    <div class="p-toolbar-group-right" style="display: flex; gap: 10px;">
      <app-toolbar-search style="width: 400px"></app-toolbar-search>
      <app-user-toolbar></app-user-toolbar>
    </div>
  </div>
</p-toolbar>
<router-outlet></router-outlet>
<p-toast></p-toast>